<div class="row clearfix">
		<div class="column half">
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
		<div class="column half">
			<img src="assets/minimalist-basic/h01-1.jpg" class="circle" style="margin-right: 1.5em">
			<img src="assets/minimalist-basic/h01-2.jpg" class="circle" style="margin-right: 1.5em">
			<img src="assets/minimalist-basic/h01-3.jpg" class="circle">
		</div>
	</div>



<div class="row clearfix">
        <div class="column full">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo ante, consectetur sit amet vulputate vel, dapibus sit amet lectus.</p>
        </div>
    </div>